rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /profiles/{profileId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /jobs/{jobId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Public analytics counters access
    match /analytics/{analyticsId} {
      allow read, write: if true;
    }

    match /admins/{adminId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
